<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
    WELCOME TO ROCKSTAR WEALTH BOOTCAMP!<br><br>   
    Confirming that you are registered to come on Saturday, 1st of July.<br><br>
    TIME:     9am (Registration)<br>
    9.30am - 5.30pm<br><br>

    VENUE: London Excel,<br>
    South Galleries,<br>
    Royal Victoria Dock,<br>
    1 Western Gateway,<br>
    London E16 1XL     <br>  <br>                          
    Please show the QR code at the entrace.<br><br>
    Please click on the below link to get QR code." .'<a href="http://www.digital1crm.com/assets/upload/qr_code/'.$value.'.png" target="_blank">
        </div>
    </body>
</html>
